@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
.editor-styles-wrapper {
  line-height: normal;
}
.editor-styles-wrapper html {
  box-sizing: border-box;
  font-size: 16px;
  line-height: 1.7;
  height: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
}
.editor-styles-wrapper body {
  min-width: 320px;
  font: 16px/1.7 "Manrope", sans-serif;
  font-size: 1rem;
  background: #fff;
  color: #10233A;
  margin: 0;
  padding: 0;
  height: 100%;
  text-wrap: pretty;
}
@media only screen and (max-width: 991px) {
  .editor-styles-wrapper body {
    --wp--preset--font-size--small: .875rem;
    --wp--preset--font-size--medium: 1.2rem;
    --wp--preset--font-size--large: 1.675rem;
    --wp--preset--font-size--x-large: 1.875rem;
    --wp--preset--font-size--xlarge: 2.2rem;
    --wp--preset--spacing--20: 0.44rem;
    --wp--preset--spacing--30: 0.67rem;
    --wp--preset--spacing--40: 1rem;
    --wp--preset--spacing--50: 1.5rem;
    --wp--preset--spacing--60: 2rem;
    --wp--preset--spacing--70: 3rem;
    --wp--preset--spacing--80: 4rem;
    --wp--preset--spacing--1: 1rem;
    --wp--preset--spacing--2: 1.5rem;
    --wp--preset--spacing--3: 2rem;
    --wp--preset--spacing--4: 2.5rem;
    --wp--preset--spacing--5: 3rem;
    --wp--preset--spacing--6: 3.5rem;
    --wp--preset--spacing--7: 4rem;
    --wp--preset--spacing--8: 4.5rem;
    --wp--preset--spacing--9: 5rem;
    --wp--preset--spacing--10: 5.5rem;
    --wp--preset--spacing--11: 6rem;
    --wp--preset--spacing--12: 6.5rem;
    --wp--preset--spacing--13: 7rem;
    --wp--preset--spacing--14: 7.5rem;
    --wp--preset--spacing--15: 8rem;
    --wp--preset--spacing--16: 8.5rem;
    --wp--preset--spacing--17: 9rem;
  }
}
.editor-styles-wrapper *,
.editor-styles-wrapper *::before,
.editor-styles-wrapper *::after {
  box-sizing: inherit;
}
.editor-styles-wrapper h1,
.editor-styles-wrapper h2,
.editor-styles-wrapper h3,
.editor-styles-wrapper h4,
.editor-styles-wrapper h5,
.editor-styles-wrapper h6 {
  clear: both;
  font-weight: normal;
  line-height: 1;
}
.editor-styles-wrapper .h1,
.editor-styles-wrapper h1 {
  font-size: 3.25rem;
  line-height: 1.2;
  font-weight: 600;
}
@media only screen and (max-width: 1350px) {
  .editor-styles-wrapper .h1,
  .editor-styles-wrapper h1 {
    font-size: 3rem;
  }
}
.editor-styles-wrapper .h2,
.editor-styles-wrapper h2 {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
}
.editor-styles-wrapper .h2 strong, .editor-styles-wrapper .h2 b,
.editor-styles-wrapper h2 strong,
.editor-styles-wrapper h2 b {
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .h2,
  .editor-styles-wrapper h2 {
    font-size: 2rem;
  }
}
.editor-styles-wrapper .h3,
.editor-styles-wrapper h3 {
  font-size: 2rem;
  line-height: 1.3;
  font-weight: 600;
}
.editor-styles-wrapper .h3 strong, .editor-styles-wrapper .h3 b,
.editor-styles-wrapper h3 strong,
.editor-styles-wrapper h3 b {
  font-weight: 600;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .h3,
  .editor-styles-wrapper h3 {
    font-size: 1.5rem;
  }
}
.editor-styles-wrapper .h4,
.editor-styles-wrapper h4 {
  font-size: 1.5rem;
  line-height: 1.4;
  font-weight: 500;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .h4,
  .editor-styles-wrapper h4 {
    font-size: 1.125rem;
  }
}
.editor-styles-wrapper .h5,
.editor-styles-wrapper h5 {
  font-size: 1.125rem;
}
.editor-styles-wrapper .h6,
.editor-styles-wrapper h6 {
  font-size: 0.875rem;
}
@media only screen and (max-width: 991px) {
  .editor-styles-wrapper .wp-block-heading {
    --wp--preset--font-size--h-5: 1rem;
    --wp--preset--font-size--h-4: 1.4rem;
    --wp--preset--font-size--h-3: 1.675rem;
    --wp--preset--font-size--h-2: 1.875rem;
    --wp--preset--font-size--h-1: 2.2rem;
  }
}
.editor-styles-wrapper p {
  margin-block: 1em;
}
.editor-styles-wrapper dfn,
.editor-styles-wrapper cite,
.editor-styles-wrapper em,
.editor-styles-wrapper i {
  font-style: italic;
}
.editor-styles-wrapper blockquote {
  margin: 0 1.5em;
}
.editor-styles-wrapper address {
  margin: 0 0 1.5em;
}
.editor-styles-wrapper pre {
  background: #eee;
  font-family: "Courier 10 Pitch", courier, monospace;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em;
}
.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper tt,
.editor-styles-wrapper var {
  font-family: monaco, consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
}
.editor-styles-wrapper abbr,
.editor-styles-wrapper acronym {
  border-bottom: 1px dotted #666;
  cursor: help;
}
.editor-styles-wrapper big {
  font-size: 125%;
}
.editor-styles-wrapper hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em;
}
.editor-styles-wrapper dt {
  font-weight: 700;
}
.editor-styles-wrapper dd {
  margin: 0 1.5em 1.5em;
}
.editor-styles-wrapper {
  /* Make sure embeds and iframes fit their containers. */
}
.editor-styles-wrapper embed,
.editor-styles-wrapper iframe,
.editor-styles-wrapper object {
  max-width: 100%;
}
.editor-styles-wrapper img {
  height: auto;
  max-width: 100%;
  border: 0;
  vertical-align: middle;
}
.editor-styles-wrapper figure {
  margin: 1em 0;
}
.editor-styles-wrapper table {
  margin: 0 0 1.5em;
  width: 100%;
}
.editor-styles-wrapper ul,
.editor-styles-wrapper ol {
  list-style-position: inside;
  margin-block: 1em;
}
.editor-styles-wrapper ul ul,
.editor-styles-wrapper ol ol {
  margin-top: 0;
  padding-left: 1em;
}
.editor-styles-wrapper {
  /* Links
  --------------------------------------------- */
}
.editor-styles-wrapper a {
  color: #FFDD0C;
  text-decoration: none;
  transition: all 0.2s ease 0s;
}
.editor-styles-wrapper a:hover {
  text-decoration: underline;
}
.editor-styles-wrapper a:focus {
  outline: none;
}
.editor-styles-wrapper a:hover,
.editor-styles-wrapper a:active {
  outline: 0;
}
.editor-styles-wrapper {
  /* Widgets
  --------------------------------------------- */
}
.editor-styles-wrapper .widget {
  margin: 0 0 1.5em;
}
.editor-styles-wrapper .widget select {
  max-width: 100%;
}
.editor-styles-wrapper {
  /* Captions
  --------------------------------------------- */
}
.editor-styles-wrapper .wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%;
}
.editor-styles-wrapper .wp-caption img[class*=wp-image-] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.editor-styles-wrapper .wp-caption .wp-caption-text {
  margin: 0.8075em 0;
}
.editor-styles-wrapper .wp-caption-text {
  text-align: center;
}
.editor-styles-wrapper {
  /* Text meant only for screen readers. */
}
.editor-styles-wrapper .screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
}
.editor-styles-wrapper .screen-reader-text:focus {
  background-color: #f1f1f1;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  clip-path: none;
  color: #21759b;
  display: block;
  font-size: 0.875rem;
  font-weight: 700;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
}
.editor-styles-wrapper {
  /* Do not show the outline on the skip link target. */
}
.editor-styles-wrapper #primary[tabindex="-1"]:focus {
  outline: 0;
}
.editor-styles-wrapper {
  /* Alignments
  --------------------------------------------- */
}
.editor-styles-wrapper .alignleft {
  /*rtl:ignore*/
  float: left;
  /*rtl:ignore*/
  margin-right: 1.5em;
  margin-bottom: 1.5em;
}
.editor-styles-wrapper .alignright {
  /*rtl:ignore*/
  float: right;
  /*rtl:ignore*/
  margin-left: 1.5em;
  margin-bottom: 1.5em;
}
.editor-styles-wrapper .aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1.5em;
}
.editor-styles-wrapper .align-center {
  align-items: center;
}
.editor-styles-wrapper {
  /**
   * Add the correct display in IE 10+.
   */
}
.editor-styles-wrapper template {
  display: none;
}
.editor-styles-wrapper {
  /**
   * Add the correct display in IE 10.
   */
}
.editor-styles-wrapper [hidden] {
  display: none;
}
.editor-styles-wrapper {
  /*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
}
.editor-styles-wrapper details {
  display: block;
}
.editor-styles-wrapper {
  /*
   * Add the correct display in all browsers.
   */
}
.editor-styles-wrapper summary {
  display: list-item;
}
.editor-styles-wrapper {
  /**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
}
.editor-styles-wrapper progress {
  vertical-align: baseline;
}
.editor-styles-wrapper {
  /**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *		`fieldset` elements in all browsers.
   */
}
.editor-styles-wrapper fieldset,
.editor-styles-wrapper form {
  margin: 0;
  padding: 0;
  border-style: none;
}
.editor-styles-wrapper legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}
.editor-styles-wrapper {
  /**
   * Correct the inability to style clickable types in iOS and Safari.
   */
}
.editor-styles-wrapper button,
.editor-styles-wrapper [type=button],
.editor-styles-wrapper [type=reset],
.editor-styles-wrapper [type=submit] {
  appearance: none;
  -webkit-appearance: none;
}
.editor-styles-wrapper {
  /**
   * Remove the inner border and padding in Firefox.
   */
}
.editor-styles-wrapper button::-moz-focus-inner,
.editor-styles-wrapper [type=button]::-moz-focus-inner,
.editor-styles-wrapper [type=reset]::-moz-focus-inner,
.editor-styles-wrapper [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
.editor-styles-wrapper {
  /**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
}
.editor-styles-wrapper [type=checkbox],
.editor-styles-wrapper [type=radio] {
  box-sizing: border-box;
  padding: 0;
}
.editor-styles-wrapper {
  /**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
}
.editor-styles-wrapper button,
.editor-styles-wrapper input {
  overflow: visible;
}
.editor-styles-wrapper {
  /**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
}
.editor-styles-wrapper button,
.editor-styles-wrapper input,
.editor-styles-wrapper optgroup,
.editor-styles-wrapper select,
.editor-styles-wrapper textarea {
  margin: 0;
  font: 100% "Manrope", sans-serif;
  vertical-align: middle;
  appearance: none;
  -webkit-appearance: none;
}
.editor-styles-wrapper {
  /**
   * Remove the border on images inside links in IE 10.
   */
}
.editor-styles-wrapper img {
  border-style: none;
}
.editor-styles-wrapper {
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
}
.editor-styles-wrapper code,
.editor-styles-wrapper kbd,
.editor-styles-wrapper samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
.editor-styles-wrapper {
  /**
   * Add the correct font size in all browsers.
   */
}
.editor-styles-wrapper small {
  font-size: 80%;
}
.editor-styles-wrapper {
  /**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
}
.editor-styles-wrapper sub,
.editor-styles-wrapper sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
.editor-styles-wrapper sub {
  bottom: -0.25em;
}
.editor-styles-wrapper sup {
  top: -0.5em;
}
.editor-styles-wrapper {
  /**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
}
.editor-styles-wrapper b,
.editor-styles-wrapper strong {
  font-weight: 700;
}
.editor-styles-wrapper {
  /**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
}
.editor-styles-wrapper abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
.editor-styles-wrapper {
  /**
   * Remove the gray background on active links in IE 10.
   */
}
.editor-styles-wrapper a {
  background-color: transparent;
}
.editor-styles-wrapper {
  /**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
}
.editor-styles-wrapper hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
.editor-styles-wrapper {
  /**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
}
.editor-styles-wrapper pre {
  font-family: monospace, monospace;
  font-size: 1em;
}
.editor-styles-wrapper article,
.editor-styles-wrapper aside,
.editor-styles-wrapper dialog,
.editor-styles-wrapper figure,
.editor-styles-wrapper footer,
.editor-styles-wrapper header,
.editor-styles-wrapper menu,
.editor-styles-wrapper nav,
.editor-styles-wrapper section {
  margin: 0;
  padding: 0;
  display: block;
}
.editor-styles-wrapper .site {
  width: 100%;
  min-height: 100vh;
  position: relative;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  overflow: clip;
  box-sizing: border-box;
  z-index: 3;
}
.editor-styles-wrapper .svg-icon {
  vertical-align: top;
  fill: currentColor;
}
.editor-styles-wrapper .container {
  max-width: 1368px;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-inline: 24px;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .container {
    padding-inline: 24px;
  }
}
.editor-styles-wrapper .site-main {
  -webkit-box-flex: 1 1 auto;
  -moz-box-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  position: relative;
  z-index: 3;
}
.editor-styles-wrapper .grecaptcha-badge {
  visibility: hidden;
  opacity: 0;
}
.editor-styles-wrapper .edit-link {
  display: none !important;
}
.editor-styles-wrapper .site-main .alignfull {
  max-width: 100%;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 24px;
}
.editor-styles-wrapper .site-main .alignfull.has-container {
  padding-inline: 0;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .site-main .alignfull {
    left: auto;
    transform: none;
  }
}
.editor-styles-wrapper .site-main .alignfull.wp-block-image {
  max-width: 100%;
}
.editor-styles-wrapper .site-main > article {
  container-type: inline-size;
}
.editor-styles-wrapper .site-main .alignwide {
  max-width: 1748px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 24px;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .site-main .alignwide {
    left: auto;
    transform: none;
  }
}
.editor-styles-wrapper .site-main .container .alignwide {
  width: 100vw;
  width: 100cqw;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .site-main .container .alignwide {
    width: auto;
    margin-left: -16px;
    margin-right: -16px;
  }
}
.editor-styles-wrapper .site-main .container .alignwide .alignfull:not(.wp-block-image) {
  max-width: 100%;
}
.editor-styles-wrapper .site-main .container .alignfull:not(.wp-block-image) {
  max-width: none;
  width: calc(100vw - 16px);
  width: 100cqw;
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .site-main .container .alignfull:not(.wp-block-image) {
    width: auto;
    margin-left: -16px;
    margin-right: -16px;
  }
}
.editor-styles-wrapper .site-main .container .align .container {
  padding-left: 0;
  padding-right: 0;
}
.editor-styles-wrapper .sr-only {
  position: absolute !important;
  display: block !important;
  overflow: hidden !important;
  clip: rect(0, 0, 0, 0) !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px 0 0 -1px !important;
  padding: 0 !important;
  cursor: text !important;
  border: 0 !important;
  outline: 0 !important;
  font-size: 15px !important;
  font-weight: 400 !important;
  line-height: 1px !important;
}
.editor-styles-wrapper .grid-row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: repeat(12, 1fr);
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 0 12px;
}
.editor-styles-wrapper .grid-row--center {
  align-items: center;
}
.editor-styles-wrapper .grid-row--gap-8 {
  grid-gap: 0 8px;
}
.editor-styles-wrapper .grid-row--10 {
  -ms-grid-columns: repeat(10, 1fr);
  grid-template-columns: repeat(10, 1fr);
}
@media only screen and (max-width: 991px) {
  .editor-styles-wrapper .grid-row--10 {
    -ms-grid-columns: repeat(12, 1fr);
    grid-template-columns: repeat(12, 1fr);
  }
}
.editor-styles-wrapper .grid-col {
  width: 100%;
  max-width: 100%;
  min-width: 0;
}
.editor-styles-wrapper .grid-col--1 {
  grid-column: span 1;
}
.editor-styles-wrapper .grid-col--2 {
  grid-column: span 2;
}
.editor-styles-wrapper .grid-col--3 {
  grid-column: span 3;
}
.editor-styles-wrapper .grid-col--4 {
  grid-column: span 4;
}
.editor-styles-wrapper .grid-col--5 {
  grid-column: span 5;
}
.editor-styles-wrapper .grid-col--6 {
  grid-column: span 6;
}
.editor-styles-wrapper .grid-col--7 {
  grid-column: span 7;
}
.editor-styles-wrapper .grid-col--8 {
  grid-column: span 8;
}
.editor-styles-wrapper .grid-col--9 {
  grid-column: span 9;
}
.editor-styles-wrapper .grid-col--10 {
  grid-column: span 10;
}
.editor-styles-wrapper .grid-col--11 {
  grid-column: span 11;
}
.editor-styles-wrapper .grid-col--12 {
  grid-column: span 12;
}
@media only screen and (max-width: 991px) {
  .editor-styles-wrapper .grid-col-lg--1 {
    grid-column: span 1;
  }
  .editor-styles-wrapper .grid-col-lg--2 {
    grid-column: span 2;
  }
  .editor-styles-wrapper .grid-col-lg--3 {
    grid-column: span 3;
  }
  .editor-styles-wrapper .grid-col-lg--4 {
    grid-column: span 4;
  }
  .editor-styles-wrapper .grid-col-lg--5 {
    grid-column: span 5;
  }
  .editor-styles-wrapper .grid-col-lg--6 {
    grid-column: span 6;
  }
  .editor-styles-wrapper .grid-col-lg--7 {
    grid-column: span 7;
  }
  .editor-styles-wrapper .grid-col-lg--8 {
    grid-column: span 8;
  }
  .editor-styles-wrapper .grid-col-lg--9 {
    grid-column: span 9;
  }
  .editor-styles-wrapper .grid-col-lg--10 {
    grid-column: span 10;
  }
  .editor-styles-wrapper .grid-col-lg--11 {
    grid-column: span 11;
  }
  .editor-styles-wrapper .grid-col-lg--12 {
    grid-column: span 12;
  }
}
@media only screen and (max-width: 767px) {
  .editor-styles-wrapper .grid-col-sm--1 {
    grid-column: span 1;
  }
  .editor-styles-wrapper .grid-col-sm--2 {
    grid-column: span 2;
  }
  .editor-styles-wrapper .grid-col-sm--3 {
    grid-column: span 3;
  }
  .editor-styles-wrapper .grid-col-sm--4 {
    grid-column: span 4;
  }
  .editor-styles-wrapper .grid-col-sm--5 {
    grid-column: span 5;
  }
  .editor-styles-wrapper .grid-col-sm--6 {
    grid-column: span 6;
  }
  .editor-styles-wrapper .grid-col-sm--7 {
    grid-column: span 7;
  }
  .editor-styles-wrapper .grid-col-sm--8 {
    grid-column: span 8;
  }
  .editor-styles-wrapper .grid-col-sm--9 {
    grid-column: span 9;
  }
  .editor-styles-wrapper .grid-col-sm--10 {
    grid-column: span 10;
  }
  .editor-styles-wrapper .grid-col-sm--11 {
    grid-column: span 11;
  }
  .editor-styles-wrapper .grid-col-sm--12 {
    grid-column: span 12;
  }
}
.editor-styles-wrapper .btn-group {
  --gap: 16px;
  display: flex;
  gap: var(--gap);
  flex-wrap: wrap;
}
.editor-styles-wrapper .btn-group--vertical {
  flex-direction: column;
}
.editor-styles-wrapper .btn-group--vertical .btn {
  width: 100%;
  display: flex;
  justify-content: center;
}
.editor-styles-wrapper .btn-group--center {
  justify-content: center;
  text-align: center;
}
.editor-styles-wrapper .btn-group--left {
  justify-content: flex-start;
  text-align: left;
}
.editor-styles-wrapper .btn-group--right {
  justify-content: flex-end;
  text-align: right;
}
.editor-styles-wrapper .btn {
  border-radius: 0px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  vertical-align: top;
  gap: 12px;
  position: relative;
  white-space: nowrap;
  overflow: hidden;
  font-size: 0.75rem;
  line-height: 1.5;
  font-weight: 700;
  padding: 1.5rem 1.5rem;
  font-family: "Manrope", sans-serif;
  border: 0;
  background: none;
  transition: all 0.2s ease 0s;
  text-decoration: none;
  cursor: pointer;
  min-width: var(--min-width, 0);
  text-transform: uppercase;
  letter-spacing: 0.2em;
}
.editor-styles-wrapper .btn:hover {
  text-decoration: none;
}
.editor-styles-wrapper .btn__text {
  position: relative;
}
.editor-styles-wrapper .btn__icon {
  position: relative;
  line-height: 1;
  transition: transform 0.4s ease 0s;
  flex: 0 0 1em;
  display: flex;
  justify-content: center;
  align-items: center;
}
.editor-styles-wrapper .btn__icon--after {
  order: 2;
  margin-left: auto;
}
.editor-styles-wrapper .btn__icon--before {
  order: -1;
  margin-right: auto;
}
.editor-styles-wrapper .btn__icon svg {
  fill: currentColor;
  vertical-align: top;
  max-width: 100%;
  width: 100%;
  height: auto;
}
.editor-styles-wrapper .btn__icon img {
  width: 1rem;
  height: 1rem;
  object-fit: contain;
  vertical-align: top;
}
.editor-styles-wrapper .btn--primary {
  background-color: #FC9700;
  color: #10233A;
}
.editor-styles-wrapper .btn--primary .btn__icon,
.editor-styles-wrapper .btn--primary .btn__text {
  color: #10233A;
}
.editor-styles-wrapper .btn--primary:hover {
  background-color: #FDAC33;
}
.editor-styles-wrapper .btn--secondary {
  background-color: #F5F5F5;
  color: #10233A;
}
.editor-styles-wrapper .btn--secondary .btn__icon,
.editor-styles-wrapper .btn--secondary .btn__text {
  color: #10233A;
}
.editor-styles-wrapper .btn--secondary:hover {
  background-color: #DEE0E2;
}
.editor-styles-wrapper .btn--white-transparent {
  background-color: rgba(255, 255, 255, 0.1);
  color: #fff;
}
.editor-styles-wrapper .btn--white-transparent .btn__icon,
.editor-styles-wrapper .btn--white-transparent .btn__text {
  color: #fff;
}
.editor-styles-wrapper .btn--white-transparent:hover {
  background-color: rgba(255, 255, 255, 0.2);
}
.editor-styles-wrapper .btn--dark-transparent {
  background-color: rgba(16, 35, 58, 0.05);
  color: #10233A;
}
.editor-styles-wrapper .btn--dark-transparent .btn__icon,
.editor-styles-wrapper .btn--dark-transparent .btn__text {
  color: #10233A;
}
.editor-styles-wrapper .btn--dark-transparent:hover {
  background-color: rgba(16, 35, 58, 0.1);
}
.editor-styles-wrapper .btn--transparent {
  padding-inline: 0;
  background: none;
}
.editor-styles-wrapper .btn--transparent:hover {
  color: rgb(205, 49, 52);
}
.editor-styles-wrapper .btn--sm {
  padding: 0.1875rem 0.625rem;
  font-size: 0.84375rem;
  line-height: 1.4;
}
.editor-styles-wrapper .btn--sm .btn__icon {
  flex: 0 0 16px;
}
.editor-styles-wrapper .btn--lg {
  font-size: 0.8125rem;
  line-height: 1.5;
  padding: 2.5rem;
  letter-spacing: 0.1em;
}
.editor-styles-wrapper .btn--lg .btn__icon {
  flex: 0 0 15px;
  margin-block: -2px;
}
.editor-styles-wrapper .btn--wide {
  display: flex;
  justify-content: center;
  width: 100%;
  padding-inline: 10px;
  box-sizing: border-box;
}
.editor-styles-wrapper .svg-icon {
  vertical-align: top;
  fill: currentColor;
  stroke: currentColor;
  max-width: 100%;
  max-height: 100%;
}
.editor-styles-wrapper .modal-item {
  display: none;
}

.select2-swp-acf-si__icon {
  fill: currentColor;
  stroke: currentColor;
}

.color-test-item {
  display: inline-block;
  vertical-align: top;
  width: 16px;
  height: 16px;
  margin: 3px 0 0 0;
  border-radius: 3px;
  border: 1px solid transparent;
}

/*# sourceMappingURL=admin.css.map */
