@import '_variable';

.grid-row {
	display:-ms-grid;
	display:grid;
	-ms-grid-columns:repeat(12, 1fr);
	grid-template-columns:repeat(12, 1fr);
	grid-gap: 0 12px;
	&--center {
		align-items: center;
	}
	&--gap-8 {
		grid-gap: 0 8px;
	}
	&--10 {
		-ms-grid-columns:repeat(10, 1fr);
		grid-template-columns:repeat(10, 1fr);
		@include tablet {
			-ms-grid-columns:repeat(12, 1fr);
			grid-template-columns:repeat(12, 1fr);
		}
	}
	
}
.grid-col {
	width: 100%;
	max-width: 100%;
	min-width: 0;
	&--1 {
		grid-column: span 1;
	}
	&--2 {
		grid-column: span 2;
	}
	&--3 {
		grid-column: span 3;
	}
	&--4 {
		grid-column: span 4;
	}
	&--5 {
		grid-column: span 5;
	}
	&--6 {
		grid-column: span 6;
	}
	&--7 {
		grid-column: span 7;
	}
	&--8 {
		grid-column: span 8;
	}
	&--9 {
		grid-column: span 9;
	}
	&--10 {
		grid-column: span 10;
	}
	&--11 {
		grid-column: span 11;
	}
	&--12 {
		grid-column: span 12;
	}
	&-lg{
		@include tablet {
			&--1 {
				grid-column: span 1;
			}
			&--2 {
				grid-column: span 2;
			}
			&--3 {
				grid-column: span 3;
			}
			&--4 {
				grid-column: span 4;
			}
			&--5 {
				grid-column: span 5;
			}
			&--6 {
				grid-column: span 6;
			}
			&--7 {
				grid-column: span 7;
			}
			&--8 {
				grid-column: span 8;
			}
			&--9 {
				grid-column: span 9;
			}
			&--10 {
				grid-column: span 10;
			}
			&--11 {
				grid-column: span 11;
			}
			&--12 {
				grid-column: span 12;
			}
		}
	}
	&-sm{
		@include mobile {
			&--1 {
				grid-column: span 1;
			}
			&--2 {
				grid-column: span 2;
			}
			&--3 {
				grid-column: span 3;
			}
			&--4 {
				grid-column: span 4;
			}
			&--5 {
				grid-column: span 5;
			}
			&--6 {
				grid-column: span 6;
			}
			&--7 {
				grid-column: span 7;
			}
			&--8 {
				grid-column: span 8;
			}
			&--9 {
				grid-column: span 9;
			}
			&--10 {
				grid-column: span 10;
			}
			&--11 {
				grid-column: span 11;
			}
			&--12 {
				grid-column: span 12;
			}
		}
	}
	
}

.btn-group {
	--gap: 16px;
	display: flex;
	gap: var(--gap);
	flex-wrap: wrap;
	&--vertical {
		flex-direction: column;
		.btn {
			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
	&--center {
		justify-content: center;
		text-align: center;
	}
	&--left {
		justify-content: flex-start;
		text-align: left;
	}
	&--right {
		justify-content: flex-end;
		text-align: right;
	}
}

.btn {
	border-radius: 0px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	vertical-align: top;
	gap: 12px;
	position: relative;
	white-space: nowrap;
	overflow: hidden;
	font-size: px-to-rem(12);
	line-height: 1.5;
	font-weight: 700;
	padding: px-to-rem(24) px-to-rem(24);
	font-family: $font-family-primary;
	border: 0;
	background: none;
	transition: all 0.2s ease 0s;
	text-decoration: none;
	cursor: pointer;
	min-width: var(--min-width, 0);
	text-transform: uppercase;
	letter-spacing: .2em;
	&:hover {
		text-decoration: none;
	}
	&__text {
		position: relative;
	}
	&__icon {
		position: relative;
		line-height: 1;
		transition: transform 0.4s ease 0s;
		flex: 0 0 1em;
		display: flex;
		justify-content: center;
		align-items: center;
		&--after {
			order: 2;
			margin-left: auto;
		}
		&--before {
			order: -1;
			margin-right: auto;
		}
		svg {
			fill: currentColor;
			vertical-align: top;
			max-width: 100%;
			width: 100%;
			height: auto;
		}
		img {
			width: 1rem;
			height: 1rem;
			object-fit: contain;
			vertical-align: top;
		}
	}
	&--primary {
		background-color: #FC9700;
		color: #10233A;
		.btn__icon,
		.btn__text {
			color: #10233A;
		}
		&:hover {
			background-color: #FDAC33;
		}
	}
	&--secondary {
		background-color: #F5F5F5;
		color: #10233A;
		.btn__icon,
		.btn__text {
			color: #10233A;
		}
		&:hover {
			background-color: #DEE0E2;
		}
	}
	&--white-transparent {
		background-color: rgba(255,255,255,.1);
		color: #fff;
		.btn__icon,
		.btn__text {
			color: #fff;
		}
		&:hover {
			background-color: rgba(255,255,255,.2);
		}
	}
	&--dark-transparent {
		background-color: rgba(16,35,58,.05);
		color: #10233A;
		.btn__icon,
		.btn__text {
			color: #10233A;
		}
		&:hover {
			background-color: rgba(16,35,58,.1);
		}
	}
	







	&--transparent {
		padding-inline: 0;
		background: none;
		&:hover {
			color: rgba(205, 49, 52, 1);
		}
	}
	&--sm {
		padding: px-to-rem(3) px-to-rem(10);
		font-size: px-to-rem(13.5);
		line-height: 1.4;
		.btn__icon {
			flex: 0 0 16px;
		}
	}
	&--lg {
		font-size: px-to-rem(13);
		line-height: 1.5;
		padding: px-to-rem(40);
		letter-spacing: .1em;
		.btn__icon {
			flex: 0 0 20px;
		}
	}
	&--wide {
		display: flex;
		justify-content: center;
		width: 100%;
		padding-inline: 10px;
		box-sizing: border-box;
	}
}

.svg-icon {
	vertical-align: top;
	fill: currentColor;
	stroke: currentColor;
	max-width: 100%;
	max-height: 100%;
}
.modal-item {
	display: none;
}