@import '../../scss/variable';

.approach-section {
	padding-block: 160px;
	background-color: #F5F5F5;
	@include tablet {
		padding-block: 120px;
	}
	@include mobile {
		padding-block: 80px;
	}
	&__head {
		display:-ms-grid;
		display:grid;
		align-items: center;
		margin: 0 0 80px;
		-ms-grid-columns:426fr 760fr;
		grid-template-columns:426fr 760fr;
		grid-gap: 136px;
		@include desktop {
			grid-gap: 66px;
		}
		@include tablet {
			-ms-grid-columns:1fr;
			grid-template-columns:1fr;
			grid-gap: 24px;
		}
	}
	&__title {
		margin: 0;
	}
}

.approach-list {
	padding:0;
	margin:0;
	list-style:none;
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	&__item {
		max-width: 240px;
		position: relative;
		&:before {
			content: '';
			position: absolute;
			top: 24px;
			border-top: 1px solid #C7CBD0;
			left: 48px;
			width: 100%;
			// width: 360px;
		}
		&:after {
			content: '';
			position: absolute;
			top: 24px;
			border-top: 1px solid #C7CBD0;
			right: 100%;
			width: 100%;
		}
		&:first-child:after {
			display: none;
		}
		&:last-child:before {
			display: none;
		}
	}
	&__icon {
		width: 48px;
		height: 48px;
		border: 1px solid #C7CBD0;
		background: #F5F5F5;
		display: flex;
		justify-content: center;
		align-items: center;
		margin: 0 0 32px;
		position: relative;
		z-index: 2;
		img {
			max-width: 24px;
			max-height: 24px;
			width: 100%;
			height: 100%;
			object-fit: contain;
		}
	}
	&__title {
		margin: 0 0 16px;
		font-weight: 500;
	}
	&__description {
		font-size: 14px;
		line-height: 1.8;
		color: #778493;
	}
}